.container {
    width: 100%;
    height: 100%;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.m2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.m3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}