.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.m2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}